<div class="landing-page">
  <div class="landing-page-child">
    <img src="../../../assets/clipart4606848.png" alt="world icon" width="300" height="300"/>
    <p id="landing-page-title">Where are you headed?</p>
    <form class="example-form">
      <mat-form-field class="location-input">
        <mat-label>City/State/Country</mat-label>
        <input type="text"
              placeholder="City, State, Country"
              aria-label="City, State, Country"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</div>
